SUPABASE_AUTH_EXTERNAL_GITHUB_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"
SUPABASE_AUTH_EXTERNAL_GITHUB_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GITHUB_SECRET=

# PostHog Configuration
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token_here
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
