/* Coolors Exported Palette - https://coolors.co/f605ba-ff56d5-6c089b-ffffff-f1f15e */

/* CSS HEX */
--shocking-pink: #ff4da6ff;
--cotton-bloom: #ff56d5ff;
--indigo-bloom: #6c089bff;
--white: #ffffffff;
--canary-yellow: #f1f15eff;

/* CSS HSL */
--shocking-pink: hsla(330, 100%, 65%, 1);
--cotton-bloom: hsla(315, 100%, 67%, 1);
--indigo-bloom: hsla(281, 90%, 32%, 1);
--white: hsla(0, 0%, 100%, 1);
--canary-yellow: hsla(60, 84%, 66%, 1);

/* SCSS HEX */
$shocking-pink: #ff4da6ff;
$cotton-bloom: #ff56d5ff;
$indigo-bloom: #6c089bff;
$white: #ffffffff;
$canary-yellow: #f1f15eff;

/* SCSS HSL */
$shocking-pink: hsla(330, 100%, 65%, 1);
$cotton-bloom: hsla(315, 100%, 67%, 1);
$indigo-bloom: hsla(281, 90%, 32%, 1);
$white: hsla(0, 0%, 100%, 1);
$canary-yellow: hsla(60, 84%, 66%, 1);

/* SCSS RGB */
$shocking-pink: rgba(255, 77, 166, 1);
$cotton-bloom: rgba(255, 86, 213, 1);
$indigo-bloom: rgba(108, 8, 155, 1);
$white: rgba(255, 255, 255, 1);
$canary-yellow: rgba(241, 241, 94, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-right: linear-gradient(
  90deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-bottom: linear-gradient(
  180deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-left: linear-gradient(
  270deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-top-right: linear-gradient(
  45deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-top-left: linear-gradient(
  225deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
$gradient-radial: radial-gradient(
  #ff4da6ff,
  #ff56d5ff,
  #6c089bff,
  #ffffffff,
  #f1f15eff
);
