/* Coolors Exported Palette - https://coolors.co/434041-d29436-e9cd42-3e2e33 */

/* CSS HEX */
--graphite: #434041ff;
--harvest-gold: #d29436ff;
--royal-gold: #e9cd42ff;
--deep-mocha: #3e2e33ff;

/* CSS HSL */
--graphite: hsla(340, 2%, 26%, 1);
--harvest-gold: hsla(36, 63%, 52%, 1);
--royal-gold: hsla(50, 79%, 59%, 1);
--deep-mocha: hsla(341, 15%, 21%, 1);

/* SCSS HEX */
$graphite: #434041ff;
$harvest-gold: #d29436ff;
$royal-gold: #e9cd42ff;
$deep-mocha: #3e2e33ff;

/* SCSS HSL */
$graphite: hsla(340, 2%, 26%, 1);
$harvest-gold: hsla(36, 63%, 52%, 1);
$royal-gold: hsla(50, 79%, 59%, 1);
$deep-mocha: hsla(341, 15%, 21%, 1);

/* SCSS RGB */
$graphite: rgba(67, 64, 65, 1);
$harvest-gold: rgba(210, 148, 54, 1);
$royal-gold: rgba(233, 205, 66, 1);
$deep-mocha: rgba(62, 46, 51, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-right: linear-gradient(
  90deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-left: linear-gradient(
  270deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #434041ff,
  #d29436ff,
  #e9cd42ff,
  #3e2e33ff
);
$gradient-radial: radial-gradient(#434041ff, #d29436ff, #e9cd42ff, #3e2e33ff);
