/* Coolors Exported Palette - https://coolors.co/d8eeff-310a9c-c7c7c7-f4f3f2 */

/* CSS HEX */
--alice-blue: #D8EEFFff;
--navy-electric: #310A9Cff;
--silver: #C7C7C7ff;
--white-smoke: #F4F3F2ff;

/* CSS HSL */
--alice-blue: hsla(206, 100%, 92%, 1);
--navy-electric: hsla(256, 88%, 33%, 1);
--silver: hsla(0, 0%, 78%, 1);
--white-smoke: hsla(30, 8%, 95%, 1);

/* SCSS HEX */
$alice-blue: #D8EEFFff;
$navy-electric: #310A9Cff;
$silver: #C7C7C7ff;
$white-smoke: #F4F3F2ff;

/* SCSS HSL */
$alice-blue: hsla(206, 100%, 92%, 1);
$navy-electric: hsla(256, 88%, 33%, 1);
$silver: hsla(0, 0%, 78%, 1);
$white-smoke: hsla(30, 8%, 95%, 1);

/* SCSS RGB */
$alice-blue: rgba(216, 238, 255, 1);
$navy-electric: rgba(49, 10, 156, 1);
$silver: rgba(199, 199, 199, 1);
$white-smoke: rgba(244, 243, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-right: linear-gradient(90deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-bottom: linear-gradient(180deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-left: linear-gradient(270deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-top-right: linear-gradient(45deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-bottom-right: linear-gradient(135deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-top-left: linear-gradient(225deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-bottom-left: linear-gradient(315deg, #D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);
$gradient-radial: radial-gradient(#D8EEFFff, #310A9Cff, #C7C7C7ff, #F4F3F2ff);